.fondo-gris{
    background-color:lightgray;
    border:1px solid black;
    transition: all 500ms ease;
}

.fondo-gris:hover{
    z-index: 10;
    transform: scale(1.1);
    box-shadow: black 10px 10px 10px;
}

.altura-320px{
    height: 50vh;
}

.altura-160px{
    height: 25vh;
}

.row .vacio{
    background-color: white ;
    border: 1px dashed lightgray;
}